.container {
    display:flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30%;
    width: 100%;
    background: #FFFFFF;
    padding-bottom:  10%;
    border-radius: 6px;
}
.header {
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}
.text {
    font-weight: 500;
    font-size: 48px;
}

input {
    margin-left: 9vh;
    margin-top: 2vh;
}
.input input {
    height: 50px;
    width: 60%;
    background: transparent;
    border: none;
    outline: none;
    background-color: rgb(241, 239, 239);
    border-radius: 6px;
    color: grey;
    padding-left: 6px;
    font-size: 19px;
}
.submit-container {
    display:flex;
    gap: 40px;
    margin: 50px 65px;
}
.submit {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 59px;
    color: white;
    background: black;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
}

.grey {
    background: #EAEAEA;
    color: #676767;
}

@media screen and (min-width: 600px) {
    .container {
        display:flex;
        flex-direction: column;
        margin: auto;
        margin-top: 200px;
        width: 600px;
        background: #FFFFFF;
        padding-bottom:  30px;
        border-radius: 6px;
    }

    .header {
        margin-top: 20px;
        display:flex;
        flex-direction: column;
        align-items: center;
        gap: 9px;
    }
    .text {
        font-weight: 500;
        font-size: 48px;
    }
    
    input {
        margin-left: 100px;
        margin-top: 1vh;
    }
    .input input {
        height: 50px;
        width: 400px;
        background: transparent;
        border: none;
        outline: none;
        background-color: rgb(241, 239, 239);
        border-radius: 6px;
        color: grey;
        padding-left: 6px;
        font-size: 19px;
    }
    .submit-container {
        display:flex;
        gap: 30px;
        margin: 60px auto;
    }
    .submit {
        display:flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 59px;
        color: white;
        background: black;
        border-radius: 50px;
        font-size: 19px;
        font-weight: 500;
        cursor: pointer;
    }
    
    .grey {
        background: #EAEAEA;
        color: #676767;
    }

}