.container {
    display:flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30%;
    width: 100%;
    backdrop-filter: blur(30px);
    background: transparent;
    box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset, 0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
    padding-bottom:  10%;
    border-radius: 6px;
}
.header {
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}
.text {
    font-weight: 500;
    font-size: 48px;
}

#email {
    margin-left: 9vh;
    margin-top: 2vh;
}

#password {
    margin-left: 9vh;
    margin-top: 2vh;
}

.auth_input .in {
    height: 50px;
    width: 70%;
    background: transparent;
    border: none;
    outline: none;
    background-color: rgb(241, 239, 239);
    border-radius: 6px;
    color: grey;
    padding-left: 6px;
    font-size: 19px;
}
.submit-container {
    display:flex;
    gap: 15vw;
    margin: 50px 65px;
}
.submit {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 59px;
    color: white;
    background: black;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
}

.thirdP {
    display:flex;
    gap: 15vw;
    margin: 0px 65px;
}
#googleAuth {
    display:flex;
    justify-content: center;
    position:relative;
    float: left;
    align-items: center;
    width: 30vw;
    height: 59px;
    color: white;
    background: rgb(219, 58, 58);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
}

.grey {
    background: #EAEAEA;
    color: #676767;
}

@media screen and (min-width: 600px) {
    .container {
        display:flex;
        flex-direction: column;
        margin: auto;
        margin-top: 200px;
        width: 600px;
        backdrop-filter: blur(30px);
        background: transparent;
        box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset, 0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
        padding-bottom:  30px;
        border-radius: 6px;
    }

    .header {
        margin-top: 20px;
        display:flex;
        flex-direction: column;
        align-items: center;
        gap: 9px;
    }
    .text {
        font-weight: 500;
        font-size: 48px;
    }
    
    #email {
        margin-left: 100px;
        margin-top: 1vh;
    }

    #password {
        margin-left: 100px;
        margin-top: 1vh;
    }
    .auth_input .in {
        height: 50px;
        width: 400px;
        background: transparent;
        border: none;
        outline: none;
        background-color: rgb(241, 239, 239);
        border-radius: 6px;
        color: grey;
        padding-left: 6px;
        font-size: 19px;
    }
    .submit-container {
        display:flex;
        gap: 30px;
        margin: 20px auto;
    }
    .submit {
        display:flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 59px;
        color: white;
        background: black;
        border-radius: 50px;
        font-size: 19px;
        font-weight: 500;
        cursor: pointer;
    }

    .thirdP {
        display:flex;
        gap: 30px;
        margin-left: 60px auto;
    }

    #googleAuth {
        display:flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 59px;
        float: left;
        color: white;
        background: rgb(219, 58, 58);
        border-radius: 50px;
        font-size: 19px;
        font-weight: 500;
        cursor: pointer;
    }
    .grey {
        background: #EAEAEA;
        color: #676767;
    }

}